body {
    background: url("green_plus_sign.png") transparent;
    background: url("green_plus_sign.png") rgba(0, 0, 0, 0);
    background-color: #404142;
}

@font-face {
  font-family: Montserrat-Light;
  src: url(/static/fonts/Montserrat-Light.otf);
}

/* For centering the login screen */
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

h1.title {
    color: #f4f5f7;
    font-family: "Montserrat-Light", sans-serif;
    text-align: center;
}

.input_button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#log_in_button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #7a7eb4ff;
    color: #f4f5f7;

}

#sign_up_button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #7a7eb4ff;
    color: #f4f5f7;
}

/* Schedule Page */
#schedule_parent {
  display: grid;
  grid-template-columns: 90% 15%;
}

table {
  border-collapse: collapse;
  color: #f4f5f7;
  font-family: "Montserrat-Light", sans-serif;
  margin-left: 7%;
  padding: 20px 10px;
}

table, th, td {
  border: 1px solid #c4c5c6;
}

td.color_block {
  color: black;
}

/* Sidebar*/
.sidebar {
  height: 70%;
  width: 7%; 
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 15;
  right: 0;
  border: 1px solid #c4c5c6;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  text-align: right;
}

.sidebar a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.description{
  font-size: 75%;
}