body {
    background-color: #404142;
    position: relative; 
 }

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.square{
    width: 300px;
    height: 300px;
    Background-color: #d9d8d7;
} 


#set_sleep_button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #7a7eb4ff;
    color: #f4f5f7;

}