<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Schedule</title>
        <link rel="stylesheet" href="/static/site.css?q=1280549780"
        type="text/css" media="screen" charset="utf-8" />
    </head>
    <body>
    <h1 class = "title">Sleep Itinerary</h1>
    <table style="margin-left: 50px;" width = 90% border="1"> 
        <tbody>
            {% for time in timeList %}
            <tr>
                <td>{{ time }}</td>
                <td width = 90%></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>

