<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Schedule</title>
        <link rel="stylesheet" href="/static/site.css?q=1280549780"
        type="text/css" media="screen" charset="utf-8" />
    </head>
    <body>
    <h1 class = "title">Sleep Itinerary</h1>
    <div id = "schedule_parent">
        <table width = 90%> 
            <tbody>
                {% for time in timeList %}
                <indent>
                    {% if time in task_list[0] %}
                    <tr>
                        <td>{{ time }}</td>
                        <td width = 90%>{{ task_list[0][2] }}</td>
                    </tr>
                    {% else %}
                        <tr>
                            <td>{{ time }}</td>
                            <td width = 90%></td>
                        </tr>
                    {% endif %}
                </indent>
                {% endfor %}
            </tbody>
        </table>
        <div class="sidebar">
            <a href="#"><img src="/static/img/green_plus_sign.png" width="65px" title="Plus sign" alt="Plus Sign"></a>
            <a href="#"><img src="/static/img/line_graph.png" width="65px" title="Line Graph" alt="Line Graph"></a>
        </div>
    </body>
</html>

